<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Document</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="app">
        <p>Enter first name: <input type="text" ng-model="user.firstName"></p>
        <p>Enter last name: <input type="text" ng-model="user.lastName"></p>
        <p>Enter age: <input type="text" ng-model="user.age"></p>
        <p>
            Hey {{ user.name }}
        </p>
<!--         <p>
            Enter Full Name (wont work): <input type="text" ng-model="user.name"></p>
        </p> -->


        <hr>
        <p>
            Number of Elements: <input type="text" ng-model="elementNumber" ng-change="changeNumberOfElements()">
        </p>
        <p>
            Per Page: <input type="text" ng-model="coll.size">
        </p>
        <p>
            Page:
            <a ng-repeat="curPage in coll.pages" href="#" ng-click="coll.page = curPage">{{ curPage + 1 }}</a>
        </p>
        <ul>
            <li ng-repeat="item in coll.view">{{ item }}</li>
        </ul>
    </body>
</html>
